<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>全国建筑企业资质查询-施工资质办理服务_小牛建讯官网</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="建筑资质,建筑资质查询,建筑资质服务,建筑企业查询,施工资质查询,全国建筑资质,资质分立,建筑企业资质查询,资质代办,资质转让,资质剥离,资质办理" name="keywords">
    <meta
        content="小牛建讯建筑资质大数据查询系统,全国建筑资质信息轻松查,面向资质服务企业,通过智能AI数据算法分析,构建全面的信息资源库.为资质服务企业提供建筑资质,建筑资质查询,建筑资质服务,建筑企业查询,施工资质查询,全国建筑资质,资质分立,建筑企业资质查询,资质代办,资质转让,资质剥离,资质办理等服务"
        name="description">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <meta content="9f4baecc2cfb8c950ca3567318f600ac" name="360-site-verification" />
    <meta content="WV72eMYP9BapgFM6m5eK" name="bytedance-verification-code" />
    <link href="<%= BASE_URL %>favicon.ico" rel="icon">
    <script src="<%= BASE_URL %>qrcode.js"></script>
    <!-- <title>ssr-example</title> -->
</head>

<body>
    <noscript>
        <strong>We're sorry but ssr-example doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>
        function copyThisText(e) {
            const input = document.createElement('input');
            document.body.appendChild(input);
            input.setAttribute('value', e);
            input.select();
            if (document.execCommand('copy')) {
                document.execCommand('copy')
            }
            document.body.removeChild(input);
        }
    </script>
</body>


</html>