<!--<template>
    <div class="about">
        <h1>This is an about page</h1>
    </div>
</template>-->
<template>
  <div>
    <table cellpadding="0" cellspacing="0" id="table">
      <thead>
        <tr class="twoHead">
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
        <tr>
          <td class="index1">1</td>
          <td class="index2">2</td>
          <td class="index3">3</td>
          <td class="index4">4</td>
          <td class="index5">5</td>
          <td class="index6">6</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      domName: null
    }
  },

  created() {},
  mounted() {
    //     const tdDom=document.querySelectorAll('td')
    // for (let i=0;i<tdDom.length;i++){
    //
    //   console.log(tdDom[i]);
    //   // click(function(){
    //   const oob = $('#' + tdDom[i]);
    //   // oob.unbind();
    //   oob.click(function() {
    //     alert(1)
    //   })
    //
    //   // tdDom[i].mouseenter(function(){
    //   //   console.log( tdDom[i]);
    //   // })
    // }

    this.$nextTick(() => {
      const aLi = document.getElementsByTagName('td')
      for (let i = 0; i < aLi.length; i++) {
        const a = function(ik) {
          aLi[ik].onmouseenter = function() {
            this.domName = aLi[ik].className
            // console.log(this.domName);
          }
        }

        a(i)
      }
    })
  },
  watch: {
    domName: {
      //深度监听，可监听到对象、数组的变化
      immediate: true,
      handler(val) {
        console.log('b.c: ' + val)
      },
      deep: true //true 深度监听
    }
  },
  // props: ["dataList"],

  methods: {}
}
</script>

<style scoped>
table {
  margin: 100px;
}

td {
  width: 100px;
}
</style>
