<template>
  <div class="tree-ceck-box-root">
    <a-select
        :id="id"
        ref="singleCheckBox"
        v-model="qualifications"
        :disabled="disabled"
        :dropdownMatchSelectWidth="false"
        :dropdownStyle="{
         height:'400px',
         width: '550px',
        overflow: 'auto',
        zIndex: 10001,
      }"
        :getPopupContainer="getPopupContainer"
        :open="selectOpen"
        allowClear
        class="select"
        placeholder="请选择资质"
        show-search
        @change="changeQualificationSelect"
        @dropdownVisibleChange="dropdownVisibleChange"
        @search="searchTreeCheckbox"
    >
      <div
          slot="dropdownRender"
          :class="{
          havePaddingTop:
            designQualificationOptions.length && qualificationOptions.length,
        }"
          class="drop-down"
      >
        <div
            v-if="
            designQualificationOptions.length && qualificationOptions.length
          "
            class="tree-list-select-types"
            @mousedown="(e) => e.preventDefault()"
        >
          <a-button
              :type="typeIndex === 1 ? 'primary' : 'default'"
              class="have-rt-margin"
              @click="selectQualificationType(1)"
          >施工资质
          </a-button
          >
          <a-button
              :type="typeIndex === 2 ? 'primary' : 'default'"
              @click="selectQualificationType(2)"
          >设计资质
          </a-button
          >
        </div>
        <tree-checkbox
            v-show="typeIndex === 1"
            ref="treeCheck1"
            :treeList="qualificationOptions"
            type="single"
            @setTreeCollapse="setTreeCollapse"
            @setValue="setQualificationValueFromTree"
        ></tree-checkbox>
        <tree-checkbox
            v-show="typeIndex === 2"
            ref="treeCheck2"
            :treeList="designQualificationOptions"
            type="single"
            @setTreeCollapse="setTreeCollapse"
            @setValue="setQualificationValueFromTree"
        ></tree-checkbox>
      </div>
      <a-option
          v-for="(item, key) in fakeQualification"
          :key="key"
          :value="item.value"
      >
        {{ item.label }}
      </a-option>
    </a-select>
  </div>
</template>

<script>
import {Select} from 'ant-design-vue'
import treeCheckbox from './TreeCheckBox.vue'

export default {
  name: 'tree-checkbox-select',
  components: {
    treeCheckbox,
    aSelect: Select,
    aOption: Select.Option,
  },
  props: {
    id: {
      type: String,
      default: 'quaSelect',
    },
    containerId: {
      type: String,
      default: '',
    },
    value: {},
    disabled: {
      type: Boolean,
      default: false,
    },
    fakeQualification: {
      type: Array,
      default() {
        return []
      },
    },
    designQualificationOptions: {
      type: Array,
      default() {
        return []
      },
    },
    qualificationOptions: {
      type: Array,
      default() {
        return []
      },
    },
  },
  data() {
    return {
      showTreeCheck: false,
      qualifications: '',
      selectOpen: false,
      typeIndex: 1,
      treeCheckOne: [],
      treeCheckTwo: [],
      searchValue: '',
    }
  },
  methods: {
    selectQualificationType(index) {
      this.typeIndex = index
      this.$nextTick(() => {
        this.loopSetValue()
      })
    },
    loopSetValue() {
      // 置空 要把两个组件里面的值都置空
      for (let index = 1; index < 3; index++) {
        const treeCheck = this.$refs['treeCheck' + index]
        if (treeCheck) {
          treeCheck.setValueFromHistory(this.qualifications)
          treeCheck.setSearchValue(this.searchValue)
        }
      }
    },

    getPopupContainer() {
      return this.containerId
          ? document.getElementById(this.containerId)
          : document.body
    },
    searchTreeCheckbox(value) {
      this.$nextTick(() => {
        this.searchValue = value
        const treeCheck = this.$refs['treeCheck' + this.typeIndex]
        treeCheck.setSearchValue(value)
      })
    },
    setTreeCollapse(item) {
      this.qualificationOptions.forEach((e) => {
        if (e.key === item.key) {
          e.isExpend = !e.isExpend
        } else {
          e.isExpend = false
        }
      })
      // console.log(this.qualificationOptions)
    },
    dropdownVisibleChange(open) {
      this.selectOpen = open
      if (open) {
        this.showTreeCheck = true
        this.qualifications = undefined
        this.$nextTick(() => {
          const treeCheck = this.$refs['treeCheck' + this.typeIndex]
          treeCheck.setValueFromHistory(this.qualifications)
        })
      }
    },
    changeQualificationSelect() {
      const treeCheck = this.$refs['treeCheck' + this.typeIndex]
      if (treeCheck) {
        this.$nextTick(() => {
          treeCheck.setValueFromHistory(this.qualifications)
        })
      }
    },
    setQualificationValueFromTree(value) {
      console.log("获取到的值", value)
      this.qualifications = value
      const quaDom = document.getElementById(this.id)
      const quaInput = quaDom.getElementsByClassName(
          'ant-select-search__field'
      )[0]
      if (quaInput) {
        this.$nextTick(() => {
          quaInput.value = ''
          const event = document.createEvent('HTMLEvents')
          event.initEvent('input', true, true)
          event.eventType = 'message'
          quaInput.dispatchEvent(event)
          this.selectOpen = false
        })
      }
    },
  },
  mounted() {
    // const quaDom = document.getElementById('quaSelect')
    // const quaInput = quaDom.getElementsByTagName('input')[0]
    // if (quaInput) {
    //   const quaFather = quaInput.parentElement
    //   quaFather.removeChild(quaInput)
    // }
  },
  watch: {
    value: {
      immediate: true,
      handler(val) {
        // console.log(this.qualificationOptions)
        this.qualifications = val
      },
    },
    qualifications: {
      deep: true,
      immediate: true,
      handler(val) {
        this.$emit('input', val)
        this.$emit('isSetFormVaue', val)
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.tree-ceck-box-root {
  .select {
    //       margin-right: 24px;
    // min-width: 336px;
    width: 100%;
  }
}
</style>
