@font-face {
    font-family: 'longna';
    src: url('SinhalaMN-Bold.ttf')
}
@font-face {
    font-family: 'songti';
    src: url('SC-Light.otf');
}
@font-face {
    font-family: 'heiti';
    src: url('songti.otf');
}