.table-content {
    margin-top: 24px;
    box-sizing: border-box;
    padding: 28px 24px;
    background-color: #ffffff;
    width: 1200px;
    border-radius: 4px;
    flex: 1;
    box-sizing: border-box;
    padding: 28px 24px;
    position: relative;
    background-color: #ffffff;
    text-align: left;
}
.loading {
    width: 100%;
    z-index: 1000;
    height: 100%;
    background-color: rgba($color: #afafaf, $alpha: 0.4);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    // padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free-vip-item {
    margin-top: 26px;
    width: 100%;
    height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .free-main-title {
        letter-spacing: 2px;
        font-size: 28px;
        position: absolute;
        width: fit-content;
        left: 23%;
        top: 32%;
        text-align: center;
        font-weight: bold;
        color: #874924;
    }
    .free-sub-title {
        position: absolute;
        color: #874924;
        text-align: left;
        // margin-top: 12px;
        left: 23%;
        top: 55%;
        font-size: 16px;
        font-weight: bold;
    }
    .free-vip-btn {
        cursor: pointer;
        height: 65px;
        width: 170px;
        background-color: #fff;
        border-radius: 32.5px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 10%;
        font-size: 24px;
        text-align: center;
        color: #774d35;
        line-height: 65px;
        &:hover {
            text-shadow: 0px 0px 1px #874924;
        }
    }
}

.risk-filter-btn {
    margin-right: 15px;
    width: 110px;
    .ant-select-selection {
        border-color: #4d7cfe !important;
    }
    .ant-select-selection__placeholder,
    .ant-select-arrow {
        color: #4d7cfe;
    }
}

.table-risk-filter {
    width: 110px;
    margin-left: 15px;
}
