<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{title}}
    <!-- 全国建筑企业资质查询-施工资质办理服务_小牛建讯官网 -->
  </title>
  <meta name="keywords" content="建筑资质,建筑资质查询,建筑资质服务,建筑企业查询,施工资质查询,全国建筑资质,资质分立,建筑企业资质查询,资质代办,资质转让,资质剥离,资质办理">
  <!-- <meta name="description"
    content="小牛建讯建筑资质大数据查询系统,全国建筑资质信息轻松查,面向资质服务企业,通过智能AI数据算法分析,构建全面的信息资源库.为资质服务企业提供建筑资质,建筑资质查询,建筑资质服务,建筑企业查询,施工资质查询,全国建筑资质,资质分立,建筑企业资质查询,资质代办,资质转让,资质剥离,资质办理等服务"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="360-site-verification" content="9f4baecc2cfb8c950ca3567318f600ac" />
  <meta name="bytedance-verification-code" content="WV72eMYP9BapgFM6m5eK" />
  <!-- <script src="http://www.xnjx666.com/qrcode.js"></script> -->

  <!-- <link rel="icon" href="./utils/favicon.ico"> -->
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) document.write('\x3Cscript id="_iealwn_js" data-outver="11" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>');</script>
  <!-- <script>/*@cc_on document.write('\x3Cscript id="_iealwn_js" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); @*/</script> -->
  <!-- <script>/*@cc_on document.write('\x3Cscript id="_iealwn_js" src="//support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); @*/</script> -->
  <!-- <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?021ffcc1cc48017af59aa14863832a01";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script> -->

  <!-- 爱番番和百度统计 -->
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?5089577a41231c994f79804432e8cfc7";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <!-- 网页埋码 -->
  <script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/08d52c58415dc88c23af5972ad0a6eb98/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>

  <!-- 分享二维码 -->
  <script>
    var theQr = theQr || [];
    (function () {
      var theQrS = document.createElement("script");
      theQrS.src = "http://www.xnjx666.com/qrcode.js";
      var q = document.getElementsByTagName("script")[0];
      q.parentNode.insertBefore(theQrS, q);
    })();
  </script>
  <script>

    (function (b, a, e, h, f, c, g, s) {
      b[h] = b[h] || function () { (b[h].c = b[h].c || []).push(arguments) };
      b[h].s = !!c; g = a.getElementsByTagName(e)[0]; s = a.createElement(e);
      s.src = "//s.union.360.cn/" + f + ".js"; s.defer = !0; s.async = !0; g.parentNode.insertBefore(s, g)
    })(window, document, "script", "_qha", 392011, false);
  </script>
</head>

<body>
  <!--vue-ssr-outlet-->
</body>
<script>
  function copyThisText(e) {
    const input = document.createElement('input');
    document.body.appendChild(input);
    input.setAttribute('value', e);
    input.select();
    if (document.execCommand('copy')) {
      document.execCommand('copy')
    }
    document.body.removeChild(input);
  }
</script>

</html>