<template>
  <div class="receipt-components" id="rableReceipt">
    <a-anchor class="transpant-dom">
      <a-anchor-link
        ref="backToFilterLink"
        href="#rableReceipt"
      ></a-anchor-link>
    </a-anchor>
    <div class="filter-content">
      <div class="filter-item">
        <span class="title"> 区域：</span>
        <a-tree-select
          v-model="area"
          @change="selectArea"
          placeholder="请选择区域 "
          allow-clear
          treeCheckable
          id="areaTree"
          aria-readonly
          class="area-select"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          :showCheckedStrategy="SHOW_PARENT"
        >
          <a-tree-select-node
            v-for="item in areaOptions"
            :key="item.areaCode"
            :value="item.areaCode"
            :title="item.areaName"
            :disabled="item.disabled"
          >
            <a-tree-select-node
              v-for="child in item.cityList"
              :value="child.areaCode"
              :key="child.areaCode"
              :disabled="item.disabled"
              :title="child.areaName"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
      </div>
      <div class="filter-item">
        <span class="title">企业资质：</span>
        <a-tree-select
          @change="selectQualification"
          v-model="qualifications"
          :treeDefaultExpandedKeys="defaultExpend"
          :treeExpandedKeys="defaultExpend"
          tree-checkable
          allow-clear
          class="qua-select"
          treeNodeFilterProp="label"
          treeNodeLabelProp="label"
          :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
          placeholder="请输入选择资质"
        >
          <!-- :tree-data="qualificationOptions" -->

          <a-tree-select-node
            v-for="qua in qualificationOptions"
            :key="qua.key"
            :value="qua.value"
            :selectable="qua.selectable"
            :checkable="qua.checkable"
            :label="qua.label"
            :title="qua.title"
          >
            <a-tree-select-node
              v-for="children in qua.children"
              :key="children.key"
              :value="children.value"
              :disabled="children.disabled"
              :label="children.label"
              :title="children.title"
            ></a-tree-select-node>
          </a-tree-select-node>
        </a-tree-select>
        <div class="type-radio">
          <a-radio-group v-model="isAll" class="group">
            <a-radio :value="1">包含</a-radio>
            <a-radio :value="2">仅有</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明:
                “包含”指企业取得资质包含已选资质且有其他资质；“仅有”指企业取得资质只有已选择资质。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
      <div class="filter-item">
        <span class="title">关键字：</span>
        <a-input
          class="keyword-input"
          v-model="keyword"
          placeholder="请输入企业名称或法定代表人"
        />
        <div class="type-radio">
          <a-radio-group v-model="keywordsType" class="group">
            <a-radio :value="2">模糊</a-radio>
            <a-radio :value="1">精准</a-radio>
          </a-radio-group>
          <a-tooltip>
            <template slot="title">
              <p class="radio-tips">
                说明: 可对需要查询的企业名称或法定代表人进行检索。
                ”模糊”为包含关键字的检索 ，“精准”为关键词有且仅有的检索。
              </p>
            </template>
            <a-icon type="question-circle" />
          </a-tooltip>
        </div>
      </div>
    </div>
    <div class="search-btns">
      <a-button type="primary" class="have-rt-margin btn" @click="clickSerchBtn"
        >查询
      </a-button>
      <a-button type="default" class="have-rt-margin btn" @click="resetFilter"
        >重置</a-button
      >
    </div>
    <div class="table-warp">
      <p class="top-tips" id="tips">
        小牛建讯为您查询出
        <span class="primary-text">{{ tipText }}</span>
        家符合条件的企业（电话数据经大数据实时演算解析，并经启发式算法优化排序显示）
      </p>
      <div v-if="isNotSpecialProvince" class="btns">
        <a-button
          @click="filterIsRisk"
          class="lf-btns"
          :class="{ noRisk: isRisk !== 2, haveRisk: isRisk === 2 }"
        >
          企业风险
          <a-icon :type="isRisk === 2 ? 'arrow-down' : 'arrow-up'" />
        </a-button>
        <a-button
          @click="filterIsEstablisTime"
          class="lf-btns"
          :class="{ noRisk: timeDesc !== 2, haveRisk: timeDesc === 2 }"
        >
          成立时间
          <a-icon
            v-if="timeDesc > 0"
            :type="timeDesc === 2 ? 'arrow-down' : 'arrow-up'"
          />
        </a-button>

        <a-button
          @click="changeSafeCertificate"
          :class="
            safeCertificationValue[safeCertificationIndex].value
              ? 'haveRisk'
              : 'noRisk'
          "
        >
          {{ safeCertificationValue[safeCertificationIndex].label }}
        </a-button>
      </div>
      <div class="table-content" v-if="total">
        <table-card
          @receiveThisItem="receiveThisItem"
          @phoneIsNotTurnOn="phoneIsNotTurnOn"
          @phoneIsTurnOn="phoneIsTurnOn"
          @showShareQrCode="showShareQrCode"
          v-for="(item, index) in tableData"
          :key="index"
          :index="index"
          :row="item"
        ></table-card>
        <div class="card-pagination">
          <a-pagination
            v-model="pageNum"
            @change="tableChange"
            @showSizeChange="tableChange"
            :showSizeChanger="false"
            :showQuickJumper="true"
            :pageSize.sync="pageSize"
            :total="total"
          ></a-pagination>
          <a-button v-if="total > pageSize" class="fake-btn">确定</a-button>
        </div>
      </div>
      <block-data
        :imageSrc="notFind"
        :titleText="''"
        :text="''"
        v-else
      ></block-data>
      <p class="tips">
        客户查询说明：<br />
        1.
        数据来源：该数据源于中国住房和城乡建设部、各省级一体化平台、国家企业信用信息公示系统、中国执行网<br />
        2.相同查询条件，同一公司所有业务人员查询到的结果，列表展示一致。
      </p>
    </div>
    <a-modal
      :visible="goToVipModalShow"
      @cancel="closeGoToVipModal"
      title="温馨提示"
    >
      <p style="text-align:center">
        您今日的“查看电话”次数已使用完毕，继续使用请先升级成VIP集团版
      </p>
      <div class="goto-tag"><a @click="goToVip">我要升级>></a></div>
      <div slot="footer">
        <a-button @click="closeGoToVipModal" type="primary">确认</a-button>
      </div>
    </a-modal>
    <a-modal
      :visible="expriedModalShow"
      @cancel="closeExpiredModal"
      title="温馨提示"
    >
      <p style="text-align:center">
        当前使用版本已过期，继续使用请先升级成VIP会员
      </p>
      <div class="goto-tag"><a @click="goToVip">我要升级>></a></div>
      <div slot="footer">
        <a-button @click="closeExpiredModal" type="primary">确认</a-button>
      </div>
    </a-modal>
    <qr-modal ref="qr" :url="qrCode"></qr-modal>
  </div>
</template>

<script>
import { TreeSelect } from 'ant-design-vue'
import blockData from '@/components/BlockData.vue'
import Cookies from 'js-cookie'
import { mapMutations } from 'vuex'
import notFind from '@/assets/no_date_block.png'
import tableCard from './TableCard'
import qrModal from '@/components/qrCode.vue'

export default {
  name: 'receipt',
  components: {
    tableCard,
    blockData,
    qrModal
  },
  data() {
    return {
      notFind,
      isAll: 1,
      keywordsType: 2,
      areaOptions: [],
      gangAoTai: [810000, 820000, 710000],

      qualifications: [],
      areaCode: [],
      area: [],
      qualificationOptions: [],
      defaultExpend: [],
      keyword: '',
      isRisk: 1,
      isReceiveCount: 1,
      timeDesc: 0,
      pageSize: 10,
      pageNum: 1,
      tipText: '',
      isNotSpecialProvince: true,
      total: 0,
      tableData: [],
      reallyQua: [],
      must: {},
      tableItemDefauletQua: [],
      goToVipModalShow: false,
      SHOW_PARENT: TreeSelect.SHOW_PARENT,
      expriedModalShow: false,
      qrCode: '',
      safeCertificationIndex: 0,

      safeCertificationValue: [
        { value: undefined, label: '有/无安许证' },
        { value: true, label: '有安许证' },
        { value: false, label: '无安许证' }
      ]
    }
  },
  methods: {
    ...mapMutations([
      'setQualificationOptions',
      'setEnterpriseInfo',
      'changeTurnPhoneStatus',
      'setATurnOnDefaultQua',
      'changeNotTurnPhoneStatus',
      'setPageHandleFunction',
      'setShowLoginModal',
      'setShowActivityModal'
    ]),
    changeSafeCertificate() {
      this.beforeSendHttp().then(() => {
        this.safeCertificationIndex += 1
        if (this.safeCertificationIndex > 2) {
          this.safeCertificationIndex = 0
        }
        // this.haveSafeCertificate = !this.haveSafeCertificate
        this.setFilterAndSerch()
      })
    },
    tableChange(pageNum, pageSize) {
      this.beforeSendHttp().then(() => {
        this.pageSize = pageSize
        this.pageNum = pageNum
        this.setFilterAndSerch()
        this.$refs.backToFilterLink.handleClick()
      })
    },
    filterIsRisk() {
      this.beforeSendHttp().then(() => {
        this.isRisk = this.isRisk === 2 ? 1 : 2
        this.setFilterAndSerch()
      })
    },

    filterIsEstablisTime() {
      this.beforeSendHttp().then(() => {
        switch (this.timeDesc) {
          case 0:
            this.timeDesc = 2
            break
          case 2:
            this.timeDesc = 1
            break
          case 1:
            this.timeDesc = 0
            break
        }
        // this.timeDesc += 1
        // if (this.timeDesc > 2) {
        //     this.timeDesc = 0
        // }
        this.setFilterAndSerch()
      })
    },
    selectArea(value) {
      this.areaCode = []
      value.forEach(v => {
        const find = this.areaOptions.find(a => {
          return a.areaCode === v
        })
        if (find) {
          this.areaCode.push(v)
          if (find.cityList.length) {
            this.areaCode = this.areaCode.concat(
              find.cityList.map(c => {
                return c.areaCode
              })
            )
          }
        } else {
          this.areaCode.push(v)
        }
      })
      let isHaveSpecial = false
      this.areaCode.forEach(e => {
        const findSpecial = this.gangAoTai.find(g => {
          return g === e
        })
        if (findSpecial) {
          isHaveSpecial = true
        }
      })
      this.isNotSpecialProvince = !isHaveSpecial
      this.setAreaCodeDisabled()
    },
    resetFilter() {
      this.isAll = 1
      // this.isRisk = 1
      // this.timeDesc = 0
      this.keywordsType = 2
      this.keyword = ''
      this.areaCode = []
      this.area = []
      this.reallyQua = []
      // this.keywordsType =
      this.qualifications = []
      this.setAreaCodeDisabled()
      this.selectQualification([])
    },
    selectQualification(value) {
      // 一次性全清除就全部置白
      if (!value.length) {
        this.qualificationOptions.forEach(q => {
          q.children.forEach(c => {
            c.disabled = false
          })
        })
      } else {
        // 用特殊的方法处理disabled 问题,这种情况下一次只有一个
        const currentVal = value.map(e => {
          return e
        })
        const find = currentVal.concat(this.reallyQua).find(e => {
          return !this.reallyQua.includes(e) || !currentVal.includes(e)
        })
        // console.log(find)
        this.qualificationOptions.forEach(q => {
          if (
            q.children.find(e => {
              return e.value === find
            })
          ) {
            // console.log(q)
            if (currentVal.includes(find)) {
              // 在当前value里面就是新加的
              q.children.forEach(e => {
                if (e.value !== find) {
                  e.disabled = true
                }
              })
            } else {
              // 不在就是删除的
              q.children.forEach(e => {
                e.disabled = false
              })
            }
          }
        })
      }
      this.reallyQua = value.map(e => {
        return e.value
      })
    },
    async getAreaOptions() {
      await this.$http.get('regionCode/selList').then(r => {
        // this.$http.get('areaIp/get').then(res => {
        this.areaOptions = []
        this.areaOptions = r.map(a => {
          return {
            ...a,
            disabled: false
          }
        })
        const userArea = Cookies.get('userArea')
        let area = []
        if (userArea) {
          area = userArea.split('/')
        }
        // else {
        //     area = [res.province, res.city]
        // }
        // userModule.useAreaName.split('/')
        const findProvince = r.find(e => {
          return e.areaName === area[0]
        }) // 找到省份
        // console.log(findProvince)
        if (findProvince) {
          const findCity = findProvince.cityList.find(
            c => c.areaName === area[1]
          ) // 找到城市
          this.area = [findCity.areaCode]
          this.areaCode = [findCity.areaCode]
        }
        // this.setFilterValue().then(res => {
        //     this.$emit('getFilterList', {
        //         options: res,
        //         pageNum: this.pageNum,
        //         pageSize: this.pageSize,
        //         isNotSpecialProvince: this.isNotSpecialProvince
        //     })
        // })
        this.setAreaCodeDisabled()
        this.setFilterAndSerch()
        // })
      })
    },
    getQualificationOptions() {
      this.qualificationOptions = []
      this.$http.get('qualification/selQualificationAll').then(r => {
        r.forEach((e, i) => {
          this.defaultExpend.push(e.qualificationName + i)
          this.qualificationOptions.push({
            title: e.qualificationName,
            label: e.qualificationName,
            value: e.qualificationName + i,
            key: e.qualificationName + i,
            selectable: false,
            checkable: false,
            children: e.qualificationLevels.map(q => {
              return {
                selectable: true,
                checkable: true,
                disabled: false,
                label: e.qualificationName + q.level,
                title: q.level,
                value: q.id,
                key: q.id
              }
            })
          })
        })
        const deepQua = this.$deepCopy(this.qualificationOptions)
        this.setQualificationOptions(deepQua)
      })
    },
    setFilterAndSerch() {
      this.must = {
        areaCodes: this.areaCode,
        keyWord: this.keyword,
        keyWordType: this.keywordsType,
        qualificationIds: this.qualifications,
        qualificationQueryType: this.isAll
        // haveReceive: this.isReceived,
      }
      // this.must = must
      this.getComponyList(this.must)
    },
    async beforeSendHttp() {
      // const isLogin = async () => {
      // try {
      const id = Cookies.get('userId')
      if (id) {
        await this.$http
          .get('member/get', { id })
          .then(() => {})
          .catch(err => {
          /*  if (err.code === '2005') {
              this.expriedModalShow = true
            } else*/
              this.$message.warning('您还未登录，请先登录注册后再体验功能', 0.5)
              this.setShowLoginModal(true)
              // this.$router.push({
              //     name: 'Login'
              // })
              // this.$emit('showLoginModal')
          })
      } else {
        this.$message.warning('您还未登录，请先登录注册后再体验功能', 0.5)
        this.setShowLoginModal(true)
        // this.$router.push({
        //     name: 'Login'
        // })
        // this.$emit('showLoginModal')
        // throw { noLogin: true }
      }
      // } catch (e) {
      //     console.log('err', e)
      // }
    },
    clickSerchBtn() {
      this.beforeSendHttp()
        .then(() => {
          if (
            !this.reallyQua.length &&
            !this.keyword.length &&
            !this.areaCode.length
          ) {
            this.$message.warning('请选择筛选条件再进行查询', 0.5)
          } else {
            this.timeDesc = 0
            this.isRisk = 1
            this.pageNum = 1
            this.setFilterAndSerch()
          }
        })
        .catch(err => {
          console.log('error', err)
        })
    },
    closeExpiredModal() {
      this.expriedModalShow = false
    },
    getComponyList(must) {
      const keyWords = must.keyWord
      this.dataLoading = true
      const params = {
        // companyId: 1,
        haveSafeCertificate: this.safeCertificationValue[
          this.safeCertificationIndex
        ].value,
        riskSort: this.isRisk,
        establishmentSort: this.timeDesc,
        isReceiveCount: this.isReceiveCount,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
        ...must
        // queryJson: JSON.stringify({ must })
      }

      this.$http
        .post('enterpriseClue/list', params)
        .then(r => {
          const areaCode = this.area
          const filtersQlificationId = this.qualifications || []
          this.setTableValue(r, areaCode, filtersQlificationId, keyWords)
          // console.log(this.tableData)
          // this.dataLoading = false
          // this.isNeedShowWatchBtn()
        })
        .catch(err => {
          console.log(err)
          this.dataLoading = false
          this.getFakeList()
        })
    },
    setTableValue(result, areaCode, filtersQlificationId, keyWords) {
      if (areaCode.length) {
        areaCode.forEach(area => {
          if (this.gangAoTai.includes(area)) {
            this.isNotSpecialProvince = false
          } else {
            this.isNotSpecialProvince = true
          }
        })
      } else {
        this.isNotSpecialProvince = true
      }
      const r = result
      //   const filtersQlificationId = this.filters
      //     ? this.filters.qualificationIds
      //     : []
      r.data.forEach((e, i) => {
        e.number = i + 1
        const qualificationsList = []
        e.qualificationsList.forEach(q => {
          if (q.qualificationItems) {
            qualificationsList.push(...q.qualificationItems)
          } else {
            qualificationsList.push(q)
          }
        })
        // console.log(qualificationsList)
        /// (this.pageNum - 1) * this.pageSize + i + 1
        e.qualificationsListLocal = qualificationsList.filter(q => {
          return q.id
        })
        // 匹配关键字正则

        const replaceReg = new RegExp(keyWords, 'g')
        // 高亮替换v-html值
        const replaceString = '<span class="hightlight">' + keyWords + '</span>'
        e.companyNameHTML = keyWords
          ? e.companyName.replace(replaceReg, replaceString)
          : e.companyName // 开始替换
        e.qualificationsListText = e.qualificationsListLocal
          .map(q => {
            return q.qualificationName
          })
          .join('、') // 悬浮窗的资质列表
        // if (e.qualificationsList.length > 5) {
        if (filtersQlificationId.length > 0) {
          const findDisplay = []
          const newList = e.qualificationsListLocal.concat([])

          filtersQlificationId.forEach(f => {
            const index = newList.findIndex(
              q => parseInt(q.id, 10) === parseInt(f, 10)
            )
            newList[index] = {}
            if (index > -1) {
              findDisplay.push(
                '<span class="qua-hightlight">' +
                  e.qualificationsListLocal[index].qualificationName +
                  '</span>' //找到所有筛选的资质
              )
              //  newList.splice(index, 1)不用slice保证数组长度
            }
          })
          const otherList = newList.filter(n => {
            return n.qualificationName
          }) // 避免显示混乱 重新取一个数组
          const display =
            findDisplay.length > 5
              ? findDisplay.slice(0, 5).join('、')
              : findDisplay.join('、') // 取前五个
          const text =
            findDisplay.length > 5
              ? ''
              : otherList
                  .slice(0, 5 - findDisplay.length)
                  .map(q => {
                    return q.qualificationName
                  })
                  .join('、')
          const tooltipText = otherList
            .map(q => {
              return q.qualificationName
            })
            .join('、') // 悬浮窗也要高亮
          e.qualificationsListText =
            display + (tooltipText ? '、' + tooltipText : '')
          e.qualificationsText =
            e.qualificationsListLocal.length > 5
              ? `${display}${text ? '、' + text : ''}等${
                  e.qualificationsListLocal.length
                }项`
              : `${display}${text ? '、' + text : ''}`
        } else {
          const text = e.qualificationsListLocal
            .slice(0, 5)
            .map(q => {
              return q.qualificationName
            })
            .join('、')
          e.qualificationsText =
            e.qualificationsListLocal.length > 5
              ? `${text}等${e.qualificationsListLocal.length}项`
              : text
        }
        if (e.phoneList && e.phoneList.length) {
          if (e.haveReceive) {
            e.phoneNumDisplay = e.phoneList
              .map(c => {
                return (
                  '<span ondblclick="copyThisText(' + c + ')">' + c + '</span>'
                )
              })
              .join('、')
          } else {
            e.phoneNumDisplay = e.phoneList.join('、')
          }
          //  : '***********'
        } else {
          e.phoneNumDisplay = '暂无联系方式'
        }

        // e.contactInformationListText = e.contactInformationList.join('、')
        e.receiveCount = e.receiveCount || 0
        e.dealCount = e.dealCount || 0
        // e.haveReceive
        e.checked = false
      })
      this.tableData = r.data
      const totalLength = r.totalSize.toString().length
      const totalNum = Math.pow(10, totalLength - 1)
      const tipText = Math.floor(r.totalSize / totalNum) // 去除零头
      this.tipText = r.totalSize > 1000 ? tipText * totalNum + '+' : r.totalSize
      this.total = r.totalSize
      this.dataLoading = false
      // console.log(this.tableData)
      // this.isNeedShowWatchBtn()
    },
    setAreaCodeDisabled() {
      // 控制港澳台地区不能被选择

      if (!this.isNotSpecialProvince && this.areaCode.length) {
        // 选了港澳台就不能选其他的省份
        this.areaOptions.forEach(a => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = true
          } else {
            a.disabled = false
          }
        })
      } else if (this.isNotSpecialProvince && this.areaCode.length) {
        // 选了其他省不能选港澳台
        this.areaOptions.forEach(a => {
          if (!this.gangAoTai.includes(a.areaCode)) {
            a.disabled = false
          } else {
            a.disabled = true
          }
        })
      } else {
        this.areaOptions.forEach(a => {
          // 什么都不选
          a.disabled = false
        })
      }
    },
    receiveThisItem(item) {
      this.beforeSendHttp().then(() => {
        const params = [
          {
            enterpriseName: item.companyName || item.enterpriseName,
            enterpriseId: item.enterpriseId,
            clueSources: 1
          }
        ]
        this.$http
          .post('enterpriseClue/addReceiveCount', params)
          .then(r => {
            this.setFilterAndSerch()
          })
          .catch(err => {
            // if (err.code === '2005') {
            //   this.expriedModalShow = true
            // }
            if (err.code === '5008') {
              this.goToVipModalShow = true
            }
            if (err.code==='5014'){
              this.setShowActivityModal(true) // 活动期间开启该弹窗 活动结束后关闭
            }
            if (err.code === '5003') {
              // console.log(err.msg)
              Modal.info({
                title: '温馨提示',
                content: err.msg,
                okText: '确定',
                onOk: () => {
                  // this.setReceiveDataInTable(err.data)
                  console.log('is ok')
                }
              })
            }
          })
      })
    },
    goToVip() {
      this.goToVipModalShow = false
      this.$router.push({
        name: 'Vip'
      })
    },
    phoneIsNotTurnOn(row) {
      this.setEnterpriseInfo({ ...row, clueSources: 1 })
      this.changeNotTurnPhoneStatus(true)
      this.setPageHandleFunction(this.afterTurnOnHandle)
    },
    phoneIsTurnOn(row) {
      // console.log(item)
      this.setEnterpriseInfo({ ...row, clueSources: 1 })
      // homeModule.setTurnOnItem(row)
      this.setTurnDetaultQua(row)
      this.changeTurnPhoneStatus(true)
      this.setPageHandleFunction(this.afterTurnOnHandle)
    },
    afterTurnOnHandle() {
      this.setFilterAndSerch()
    },
    setTurnDetaultQua(row) {
      if (this.must.qualificationIds.length) {
        // console.log(this.filters.must.qualification.data)
        this.must.qualificationIds.forEach(e => {
          const findQua = row.qualificationsList.find(q => {
            return parseInt(q.id, 10) === e
          })
          if (findQua) {
            this.tableItemDefauletQua.push({
              value: findQua.id,
              label: findQua.qualification
            })
          }
        })
        //  this.tableItemDefauletQua = this.filters.must.qualification.data
      } else {
        // console.log(row)
        this.tableItemDefauletQua = row.qualificationsListLocal.map(e => {
          return {
            value: e.id,
            label: e.qualificationName
          }
        })
      }
      this.setATurnOnDefaultQua(this.tableItemDefauletQua)
    },
    closeGoToVipModal() {
      this.goToVipModalShow = false
    },
    showShareQrCode(item) {
      // console.log(item);
      this.beforeSendHttp().then(() => {
        const userId = Cookies.get('userId')
        this.$http
          .get('enterpriseClue/shareEnterpriseTime', {
            enterpriseId: item.enterpriseId,
            userId
          })
          .then(res => {
            const currentDate = new Date().getTime()
            // encodeURIComponent(
            const link = 'http://www.xnjx666.com:9000/index.html#'
            const pageUrl = `${link}/enterprise/share?enterpriseId=${item.enterpriseId}&dateTime=${currentDate}&uuid=${res}`
            // )
            const url =
              'http://www.xnjx666.com/shareIframe.html?src=' +
              encodeURIComponent(pageUrl)
            this.qrCode = url
            this.$refs.qr.showModal()
          })
      })
    },
    getFakeList() {
      this.$http.get('enterpriseClue/defaultList').then(res => {
        // console.log(res);
        this.setTableValue(res, [], [], '')
      })
    }
  },

  mounted() {
    this.getQualificationOptions()
    this.$nextTick(() => {
      this.getAreaOptions()
      const dom = document.getElementById('areaTree')
      const areaTreeInput = dom.getElementsByTagName('input')[0]
      const areaTreeFather = areaTreeInput.parentElement
      areaTreeFather.removeChild(areaTreeInput)
      // this.setFilterAndSerch()
    })
  }
}
</script>

<style lang="scss">
.goto-tag {
  width: 100%;
  text-align: center;
}
</style>
<style lang="scss" scoped>
.receipt-components {
  background-color: #fff;

  .filter-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .filter-item {
      max-width: 500px;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .area-select {
        margin-left: 10px;
        width: 160px;
      }

      .qua-select {
        margin: 0 10px;
        min-width: 180px;
      }

      .keyword-input {
        width: 220px;
        margin: 0 10px;
      }

      .type-radio {
        flex-shrink: 0;
        height: 32px;
        line-height: 32px;
      }

      .title {
        height: 32px;
        line-height: 32px;
        flex-shrink: 0;
      }
    }
  }

  .search-btns {
    margin-top: 15px;
    text-align: left;

    .btn {
      width: 78px;
      height: 32px;
    }
  }

  .table-warp {
    margin-top: 50px;
    text-align: left;
    position: relative;

    .btns {
      margin-top: 12px;
      padding: 6px 21px;
      border: solid 1px #f2f2f2;
      background-color: #f2f2f2;
      position: relative;

      .lf-btns {
        margin-right: 24px;
      }

      .noRisk {
        background-color: transparent;
        border-color: #999999;

        &:hover {
          border-color: #759fff;
        }

        &:focus {
          border-color: #759fff;
        }
      }

      .haveRisk {
        background-color: #4d7cfe;
        color: #ffffff;

        &:hover {
          background-color: #759fff;
          border-color: #759fff;
        }
      }
    }

    .top-tips {
      position: absolute;
      left: 0px;
      top: -30px;
      font-size: 13px;
      color: #909399;

      .primary-text {
        color: #4d7cfe;
      }
    }

    .table-content {
      border-top: solid 1px #f2f2f2;
      // margin-top: 20px;
    }

    .tips {
      margin-top: 20px;
      color: #909399;
      font-size: 12px;
    }

    .card-pagination {
      width: 100%;
      margin-top: 35px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .fake-btn {
        margin-left: 8px;
      }
    }
  }
}
</style>
